*{
    box-sizing: border-box;
}

html, body { min-height: 100%; }

html{
    background-color: lightgray;
}
body{
    width: 768px;
    padding: 0 8px;
    margin: auto;
    background-color: white;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/*classes*/
.NOTIF{
    padding: 2px;
    background-color: lightgray;
    border: 1px solid gray;
    width: fit-content;
}
.NOTIF_SUCCESS{
    background-color: lightblue;
    border-color: blue;
}
.NOTIF_FAILURE{
    background-color: lightpink;
    border-color: red;
}
.BLURB{
    border:solid 1px black;
    width:fit-content;
    padding:6px;
    margin: 4px 0;
}
.BLURB .BLURB{
    margin: 0;
}