h1,h3{
    margin: 0;
}
.NOTIF{
    padding: 2px;
    background-color: lightgray;
    border: 1px solid gray;
}
.NOTIF_SUCCESS{
    background-color: lightblue;
    border-color: blue;
}
.NOTIF_FAILURE{
    background-color: lightpink;
    border-color: red;
}