h1,h3{
    margin: 0;
}
.succeedNotif{
    padding: 2px;
    background-color: lightblue;
    border: 1px solid blue;
}
.failNotif{
    padding: 2px;
    background-color: lightpink;
    border: 1px solid red;
}